@charset "ISO-8859-1";

img {
	height: 100px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.orderSelect {
	width: 330px
}

#orderSelect {
	width: 322px;
}

#singleImage {
	height: 400px;
	display: block;
	margin-left: 0;
	margin-right: 0;
}
